.credits-wrapper {
  margin: 64px 0;
}

.credits-wrapper h2 {
  font-weight: 600;
}

.credits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.credit {
  padding: 12px;
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(98, 125, 152, 0.62);
  transition: box-shadow 500ms ease 0s;
}

.credit:hover {
  box-shadow: 0 1px 2px 0 rgba(98, 125, 152, 0.22);
}

.credit h3 {
  margin: 6px 0 0 0;
}

@media (min-width: 600px) {
  .credits-wrapper h2 {
    text-align: center;
    margin: 6rem 0 3rem;
  }

  .credits {
    grid-template-columns: repeat(4, 1fr);
  }

  .credit {
    padding: 32px;
  }

  .credit h3 {
    font-size: 16px;
  }
}