.credits-wrapper {
  margin: 64px 0;
}

@media (min-width: 600px) {
  .credits-wrapper  h2 {
    text-align: center;
  }
}

.credits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.credit {
  padding: 12px;
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 8px;
}

.credit h3 {
  margin: 6px 0 0 0;
}