.download-wrapper {
  display: grid;
  grid-template-columns: 120px 58px;
  align-items: center;
  grid-gap: 12px;
}

.download-item {
  display: block;
  transition: filter 500ms ease 0s;
}

.download-item:hover {
  filter: hue-rotate(90deg);
}

.download-item img {
  margin: 0;
}

.download-desktop {
  display: none;
  /*width: 64px;*/
  /*height: 64px;*/
}

@media (min-width: 600px) {
  .download-mobile {
    display: none;
  }

  .download-desktop {
    display: block;
  }
}
