.header {
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "logo language";
  align-items: center;
}

.header img {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 24px;
}

.language {
  grid-area: language;
  display: grid;
  justify-content: flex-end;
}

.logo {
  grid-area: logo;
  display: grid;
  justify-content: flex-start;
}

.menu {
  grid-area: menu;
  display: grid;
  justify-content: flex-end;
}

.menu-trigger {

}

.menu-list {
  display: none;
}

.menu-list a {
  margin-left: 24px;
  text-decoration: none;
  color: #102A43;
  font-size: 16px;
}

@media (min-width: 600px) {
  .header {
    grid-template-columns: 1fr auto auto;
    grid-gap: 24px;
    grid-template-areas: "logo menu language";
  }

  .language {
    justify-content: flex-end;
  }

  .logo {
    justify-content: flex-start;
  }

  .menu-trigger {
    display: none;
  }

  .menu-list {
    display: block;
  }
}