.content-wrapper {
  position: relative;
}

.content {
  height: 240px;
  position: absolute;
  right: 12px;
  top: 42px;
  writing-mode: tb-rl;
  text-align: left;
  letter-spacing: 0.1em;
}

.content h1 {
  margin-left: 8px;
  letter-spacing: 0.25em;
}

.content p {
  margin: 0 2px;
  padding: 0 2px;
  display: inline-block;
  border-left: 2px solid #F0F4F8;
}

.cta {
  margin: 42px 0 0 0;
  display: block;
  position: absolute;
  right: 115px;
  bottom: 28px;
  writing-mode: tb-rl;
  text-align: left;
  color: #E8368F;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
}

.downloads-wrapper {
  margin: 21px 0 0 29px;
}

.mockup {
  margin-left: -15px;
}

.mockup-desktop {
  display: none;
}

@media (min-width: 600px) {
  .mockup {
    margin-left: -96px;
  }

  .mockup-mobile {
    display: none;
  }

  .mockup-desktop {
    display: block;
    text-align: center;
  }

  .content {
    right: 46px;
  }

  .content h1 {
    font-size: 32px;
    font-weight: 400;
    margin-left: 18px;
  }

  .content p {
    font-size: 16px;
    padding: 0 4px;
  }

  .cta {
    font-size: 16px;
    right: 188px;
    bottom: 108px;
  }

  .downloads-wrapper {
    margin: 0;
    width: 64px;
    position: absolute;
    top: 207px;
    left: 57px;
  }
}